<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee review</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <%- style %>
  </head>

  <body>
    <%- include('./partials/_header'); %>
    <main>
      <div class="layout-main"><%- body %></div>
    </main>
    <%- include('./partials/_footer'); %>
    <%- script %>

    <!-- <script>
      <% if (flash && flash.success) { %>
        new Noty({
            theme: 'bootstrap-v4',
            text: '<%= flash.success %>',
            type: 'success',
            layout: 'topRight',
            timeout: 1500
        }).show();
      <% } %>
      <% if (flash && flash.error) { %>
        new Noty({
            theme: 'bootstrap-v4',
            text: '<%= flash.error %>',
            type: 'error',
            layout: 'topRight',
            timeout: 1500
        }).show();
      <% } %>
    </script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/4286c095cf.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
